QMenuBar{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 lightgray, stop:1 darkgray);
    padding: 5px;
    font-weight: bold;
    font-family: helvetica;
    font-size: 16px;

    spacing:15px;
}

QMenuBar::item{
    color:black;
    background-color: none;
}
QMenuBar::item:selected{
    font-size: 24px;
    color:white;
    background-color: rgba(0,0,0,0);
    color: white;
}
QMenuBar::item:pressed{
    background-color: gray;
}

QMainWindow{
    background-color: qlineargradient(x1:0, y1:025, x2:0, y2:1, stop:0 black, stop:1 gray);
}

QMenu{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 lightgray, stop:1 darkgray);
}

QStatusBar{
    background-color:white;
}

#PingForm{
    background-color:white;
}

QLabel{
    font-size: 20px;
}

#outputBox{
    background-color: black;
    color: #33FF33;
    border-style: solid;
    padding:10px;
}

QLineEdit{
    font-size: 20px;
    padding: 3px;
}